---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Screenshots from '../components/Screenshots.astro';
import Download from '../components/Download.astro';
import Footer from '../components/Footer.astro';
import BetaBanner from '../components/BetaBanner.astro';
---

<Base>
  <BetaBanner />
  <Nav />
  <main>
    <Hero />
    <Features />
    <Download />
    <Screenshots />
  </main>
  <Footer />
</Base>
